@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



.icon-switch {
    border: 1px solid gray;
    background: lightGray;
    cursor: pointer;
    display: inline;
    margin: 20px;
    padding: 2px;
}

.icon-switch:hover {
    border: 1px solid gray;
    background: darkGray;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.store-container {
    margin: 10px;
    width: 100%;
}

.store-card {
    /* float: left; */
    /* display: flex; */
    display: inline-block;
    vertical-align: bottom;
    width: 30%;
    margin: 5px;
    position: relative;
}

.store-card-image {
    max-width: 300px;
    box-shadow: 2px 2px 0px 0px lightGray;
}

.store-card-content-layer {
    position: absolute;
    top: 10%;
    right: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 1.25em;
    line-height: 1.25;
    padding: 5px;
}

.store-card-title {
    color: darkSlateGray;
    font-weight: bold;
}

.store-card-info {
    text-align: center;
    font-size: small;
    margin-top: 5px;
}

.store-card-footer {
    position: absolute;
    top: +90%;
    min-height: 1.25em;
    line-height: 1.25;
    padding: 5px;
    clear: both;
    color: red;
    font-weight: bold;
}


/* CSS for LISTVIEW */

.card-list-item {
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-wrap: nowrap;
    width: 98%;
    min-width: 900px;
    margin: 2px;
    background: rgb(245,245,245);
    /* box-shadow: 2px 2px 0px 0px lightGray; */
}

.card-list-item-image {
    max-height: 100px;
    margin-right: 20px;
}


.card-list-item-title {
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    text-align: center;
    flex-grow: 1; /* дает приоритет на растяжение блока */
}

.card-list-item-content {
    flex-grow: 2; /* дает приоритет на растяжение блока */
    text-align: center;
    font-size: small;
    margin-right: 20px;
}

.card-list-item-price {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-right: 20px;
}