@import url(https://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic);

h1.shop {
    letter-spacing: 0px;
    letter-spacing: .02rem;
    font-size: 48px;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
}

h3.shop {
    color: #666;
    font-size: 19px;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0;
}

.shop-layer {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #999;
}

.window {
    background: #fff;
    width: 470px;
    display: flex;
    min-height: 400px;
    position: relative;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.shop-container {
    padding: 50px 46px 25px 20px;
    box-sizing: border-box;
    display: flex;
    color: #222;
    width: 100%;
    height: 100%;
    flex-flow: column;
}

.background-element {
    background: #457;
    //position: absolute;
    width: 120%;
    height: 400px;
    left: -50px;
    top: -80px;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    -webkit-transition: background .6s ease;
    transition: background .6s ease;
}

.highlight-window {
    height: 550px;
    width: 400px;
    background: #ccc;
    background: url('/public/img/item-blue.jpg');
    background-size: cover;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    z-index: 5;
    position: relative;
    background-position: center top;
}

    .highlight-window.mobile {
        display: none;
    }

.highlight-overlay {
    //position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    background: url('/public/img/item-black.jpg');
    background-size: cover;
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease;
    background-position: center top;
}

.divider {
    width: 80%;
    height: 1px;
    background: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.description {
    margin-top: 20px;
    width: 100%;
}

.purchase-info {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.price {
    font-size: 40px;
    font-size: 2.5rem;
}
   
   



a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
        color: #666;
    }

button {
    background: #333;
    border: none;
    font-weight: 400;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-transform: uppercase;
}

    button:hover {
        background: #555;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }



