.backgroundDark {
    background: darkGray;
    margin-right: 14px;
}

.backgroundLight {
    background: lightGray;
    margin-right: 14px;
}

.items {
    margin: 10px;
    width: 100%;
}

.items ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.items li {
    margin-right: 5px;
    flex-flow: row nowrap;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 6px 6px;
    cursor: pointer;
    border: 1px solid darkSlateGray;
}

    .items li:last-child {
        margin-right: 0;
    }

    .items .active,
    .items li:hover {
        color: #fff;
        background-color: darkGray;
    }


.cards-container {
    margin: 0;
}

.card {
    float: left;
    width: 33%;
}

.card-image {
    min-height: 100px;
}

.card-title {
    color: darkSlateGray;
}
