@import url(https://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic);



.main-content {
    padding: 50px 46px 25px 20px;
    box-sizing: border-box;
    display: flex;
    color: #222;
    width: 100%;
    height: 100%;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #999;
}

.main-window {
    background: #fff;
    display: flex;
    min-height: 400px;
    position: relative;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

