.header-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.header-window {
    background: #fff;
    display: flex;
    justify-content: flex-start;
    position: relative;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.text-red {
    color: red;
    font-weight: bold;
}

.navbar {
    flex-grow: 1;
}

.logo {
    margin-right: 30px;
    height: 30px;
}

.navbar ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 2px 0 0;
    padding: 0;
    list-style: none;
}

.navbar li {
    margin-right: 20px;
    flex-flow: row nowrap;
    padding: 8px 10px;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar a:hover,
.navbar .active {
    color: #fff;
    background-color: #ff3d00;
    border-radius: 8px;
}
.navbar a,
.navbar .active {
    display: block;
    padding: 8px 10px;
}

.navbar a {
    color: #000;
    text-decoration: none;
}